<div class="container">
	<div class="jumbotron">

		<div class="row">
	    	<h1>Marcação</h1>
	  </div>

	  <div class="row">

		    <div class="table-responsive">
			    <table class="table">
			  	    <thead>
				        <tr>
					        <th scope="col">Data</th>
					        <th scope="col">Hora Entrada</th>
					        <th scope="col">Hora Saída</th>
			      		</tr>
			    	</thead>
					<tbody id="table-body" *ngIf="(entries | async )?.length === 0">
						<form (ngSubmit)="onSubmit()">
							<tr id="first-tr">
					    		<td>
					    			<input 
					    			type="text" 
					    			name="data" 
					    			class="date" 
					    			[(ngModel)]="entry.date"
					    			[ngModelOptions]="{standalone:
   											true}" 
   									placeholder="DD-MM-YYYY">
   								</td>
					    		<td>
					    			<input 
					    			type="text" 
					    			name="hora-entrada" 
					    			class="start_hour" 
					    			placeholder="HH:MM"
					    			[ngModelOptions]="{standalone:
   											true}" 
							    	[(ngModel)]="entry.start_hour">
					    		</td>
					    		<td>
					    			<input 
					    			type="text" 
					    			name="hora-saida" 
					    			class="end_hour"
					    			 placeholder="HH:MM"
					    			 [ngModelOptions]="{standalone:
   											true}"
							    	[(ngModel)]="entry.end_hour">
					    		</td>
					    	</tr>
					    	<td>
                				<button type="button" class="btn btn-outline-danger" (click)='deleteEntry()'>Deletar</button>
                				<button type="submit" class="btn btn-success btn-salvar">Salvar</button>
                			</td>
					    	
					
				    	</form>
				    </tbody>
				    <tbody id="table-body">
				    	<div [hidden]="submitted" style="width: 300px;">
							<form (ngSubmit)="onSubmit()">
				      			<tr id="first-tr" *ngFor="let entry of entries | async">
						    		<td>
						    			<input 
							    			type="text" 
							    			class="date"
							    			[ngModelOptions]="{standalone:
   											true}" 
							    			value="{{ entry.data }}" 
							    			[(ngModel)]="entry.date" 
							    			placeholder="DD-MM-YYYY"
							    			required>
						    		</td>
						    		<td>
						    			<input 
							    			type="text" 
							    			class="start_hour" 
							    			[ngModelOptions]="{standalone:
   											true}"
							    			value="{{ entry.value['hora-entrada'] }}" 
							    			[(ngModel)]="entry.start_hour"
							    			placeholder="HH:MM"
							    			required>
						    		</td>
						    		<td>
						    			<input 
						    			type="text"  
						    			class="end_hour" 
						    			[ngModelOptions]="{standalone:
   										true}"
						    			value="{{ entry.value['hora-saida'] }}"
						    			[(ngModel)]="entry.end_hour" 
						    			placeholder="HH:MM"
						    			required>
						    		</td>
		                			<td>
		                				<button type="button" class="btn btn-outline-danger">Deletar</button>
		                			</td>
				    			</tr>
				    		</form>
				    	</div>
				    </tbody>
			  	</table>
			</div>

			<div [hidden]="!submitted">
				<h4>You submitted successfully!</h4>
			</div>

		</div>

		<div class="row">
	      <div class="col">
	        <div class="d-flex justify-content-end">
	          <button
	            type="button"
	            class="btn btn-primary"
	            (click)="addNewLine()">
	      		Adicionar Dia
	      	  </button>
						<button type="submit" class="btn btn-success btn-salvar">Salvar</button>
					</div>
	      </div>
	    </div>

	</div>
</div>
