<div class="container">
	<div class="jumbotron">
		
		<div class="row">
	    	<h1>Marcação</h1>
	    </div>
	    
	    <div class="row">

		    <div class="table-responsive">
			  <table class="table">
			  	<thead>
			      <tr>
			        <th scope="col">Data</th>
			        <th scope="col">Hora Entrada</th>
			        <th scope="col">Hora Saída</th>
			      </tr>
			    </thead>
			  </table>
			</div>
		</div>
	    

		<div class="row">
	      <div class="col">
	        <div class="d-flex justify-content-end">
	          <button
	            type="button"
	            class="btn btn-primary"
	            (click)="verificarResposta()">
	      		Adicionar Dia
	      	  </button>
	        </div>
	      </div>
	    </div>

	</div>
</div>